@import "../vendors/bootstrap/variables";
@import "../vendors/bootstrap/mixins";
@import "../abstracts/_variables.scss";
@import "../base/typography";



body {
    background-color: $brand-secondeary;
    background-image: linear-gradient(to right, $brand-tertiary 50%, $brand-secondeary 0);
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $brand-primary;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: $brand-primary;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: $brand-primary;
}

.material-icons {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    padding-right: 200px;
    box-sizing: border-box;
}

header {
    color: white;
    width: $nav-width;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 48px;
    right: 0;
    bottom: 48px;
    margin: auto;
    .title {
        writing-mode: vertical-rl;
        text-orientation: mixed;
    }
}


.nav {
    display: flex;
    flex-direction: column;
    .nav-link {
        width: 36px;
        line-height: 0;
        display: block;
        text-align: center;
        .material-icons {
            color: white;
            font-size: 2rem;
            line-height: 36px;
        }
        + .nav-link {
            margin-top: 48px;
        }
    }
}

main {
    color: $brand-secondeary;
    background-color: $brand-tertiary;
    width: calc(100% - #{$nav-width});
    height: 100vh;
    max-width: 824px;
    padding: 48px 84px;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.input,
.list-wrap {
    width: 100%;
    max-width: 445px;
}

.input {
    color: $brand-primary;
    position: relative;
    margin-bottom: 15%;
    input {
        font-size: $font-size-base;
        line-height: $line-height-base;
        padding: 1rem 0.9375rem;
        width: 100%;
        border-width: 0;
        box-sizing: border-box;
    }
    .material-icons {
        width: 56px;
        line-height: 3.5rem;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        text-align: center;
        cursor: pointer;
    }
}

.player {
    width: 65%;
    position: absolute;
    top: 50%;
    right: -65%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid $brand-primary;
    &-wrap {
        position: relative;
        padding-top: 100%;
        .pie {
            fill: $transparent;
            position: absolute;
            top: 0;
            left: 0;
            transform: rotate(-90deg);
            .cir {
                stroke-width: 40px;
            }
        }
    }
    &-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $brand-primary;
        border-radius: 50%;
        border: 3px solid $brand-primary;
        cursor: pointer;
        position: absolute;
        top: 16px;
        right: 16px;
        left: 16px;
        bottom: 16px;
        margin: auto;
        .material-icons {
            font-size: 96px;
            color: white;
            &::after {
                content: "";
                display: inline-block;
                width: 8px;
                height: 8px;
                background-color: white;
                margin-bottom: 8px;
            }
        }
        &:hover{
            .material-icons {
                animation: fontZoom .5s ease-in-out infinite;
            }
        }
    }
    &.start {
        .player-btn {
            background-color: white;
            .material-icons {
                color: $brand-primary;
                &::after {
                    background-color: $brand-primary;
                }
            }
        }
        .pie {
            .cir {
                stroke: $brand-primary;
            }
        }
    }
}

.todo {
    &--do {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 15%;
        .todo {
            &__checkBox {
                width: 3rem;
                z-index: 10;
                .material-icons {
                    font-size: 3rem;
                }

            }
            &__content {
                z-index: 10;
                h2 {
                    font-size: $font-size-h2;
                    line-height: $line-height-base;
                    margin: 0 0 8px 0;

                }
            }
        }
    }
    &__checkBox {
        width: 2.75rem;
        font-size: 0;
        text-align: center;
        cursor: pointer;
        .material-icons {
            line-height: 2.75rem;
        }
    }
    &__item {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        border-bottom: 1px solid rgba($brand-secondeary, 0.2);
    }
    &__content {
        flex: 1 1 auto;
        padding: 0.625rem 2.75rem 0.625rem 0.625rem;
        box-sizing: border-box;
        position: relative;
        cursor: pointer;

        p {
            font-size: $font-size-base;
            line-height: $line-height-base;
            margin: 0;
        }
        .material-icons {
            line-height: 2.75rem;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 10px;
            margin: auto;
        }
    }
    &__count-down {
        flex: 1 1 100%;
        color: $brand-primary;
        font-size: $font-size-h1;
        font-weight: bold;
        line-height: 1;
        @media (max-width: 1100px) {
            font-size: 9rem;
        }
        .rest & {
            color: #00A7FF;
        }
    }
    &-wrap {
        &::after {
            content: "";
            display: table;
            clear: both;
        }
    }
}

.list-unstyled {
    list-style: none;
    padding-left: 0;
}

.slice {
    font-size: 0;
    .pie {
        width: 12px;
        height: 12px;
        box-sizing: border-box;
        border: 1px solid $brand-primary;
        display: inline-block;
        border-radius: 50%;
        + .pie {
            margin-left: 8px;
        }
    }
}

.more {
    color: $brand-primary;
    float: right;
    text-decoration: none;
}


// 休息時間
$brand-primary: #00A7FF;
$brand-tertiary: #E5F3FF;

.rest {
    background-image: linear-gradient(to right, $brand-tertiary 50%, $brand-secondeary 0);
    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: $brand-primary;
        opacity: 1; /* Firefox */
    }

    :-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: $brand-primary;
    }

    ::-ms-input-placeholder { /* Microsoft Edge */
        color: $brand-primary;
    }
    .input {
        color: $brand-primary;
    }
    main {
        background-color: $brand-tertiary;
    }
    .player {
        border-color: $brand-primary;
        &-btn {
            background-color: $brand-primary;
            border-color: $brand-primary;
            &:hover{
                .material-icons {
                    animation: fontZoom .5s ease-in-out infinite;
                }
            }
        }
        &.start {
            .player-btn {
                background-color: white;
                .material-icons {
                    color: $brand-primary;
                    &::after {
                        background-color: $brand-primary;
                    }
                }
            }
            .pie {
                .cir {
                    stroke: $brand-primary;
                }
            }
        }
    }
    .slice {
        .pie {
            border-color: $brand-primary;
        }
    }
    .more {
        color: $brand-primary;
    }
}

@keyframes fontZoom {
    to {
        transform: scale(1.1);
    }
}