
// color
$brand-primary: #FF4384;
$brand-secondeary: #003164 !default;
$brand-tertiary: #FFEDF7 !default;
$transparent: rgba(white, 0);

$nav-width: 110px !default;

$font-size-base: 1rem;
$line-height-base: 1.5;

$font-size-h1: 11rem;
$font-size-h2: 1.5rem;

$font-family-sans-serif: 'Roboto', 'Noto Sans TC', sans-serif;